<div class="lg:grid lg:justify-items-center">
    <div class="lg:grid lg:justify-items-center bg-blue-400 min-h-[50vh] lg:min-h-screen rounded-xl mx-[10px] lg:mx-[100px] my-[5px] lg:my-[20px] lg:w-[70%]">
        <h1 class="text-xs font-bold pt-[10px] lg:py-[30px] text-center lg:text-2xl">Chi tiết giao dịch</h1>
        <div class="container min-h-full">
            <div class="grid grid-cols-2 lg:grid-cols-3 text-sm lg:text-2xl bg-blue-200 mx-[10px] lg:mx-[100px]">
                <div class="py-[15px] lg:py-[25px] pl-[10px] lg:pl-[30px]">Mã giao dịch</div>
                <div class="py-[15px] lg:py-[25px] pl-[10px] lg:pl-[100px] lg:col-span-2 ">{{id}}</div>

                <div class="py-[15px] lg:py-[25px] pl-[10px] lg:pl-[30px]">Loại giao dịch</div>
                <div class="py-[15px] lg:py-[25px] pl-[10px] lg:pl-[100px] lg:col-span-2 ">{{type}}</div>

                <div class="py-[15px] lg:py-[25px] pl-[10px] lg:pl-[30px]">Trạng thái giao dịch</div>
                <div class="py-[15px] lg:py-[25px] pl-[10px] lg:pl-[100px] lg:col-span-2 ">{{Status}}</div>

                <div class="py-[15px] lg:py-[25px] pl-[10px] lg:pl-[30px]">Thời gian</div>
                <div class="py-[15px] lg:py-[25px] pl-[10px] lg:pl-[100px] lg:col-span-2 ">{{Date}}</div>

                <div class="py-[15px] lg:py-[25px] pl-[10px] lg:pl-[30px]">Số tiền</div>
                <div class="py-[15px] lg:py-[25px] pl-[10px] lg:pl-[100px] lg:col-span-2 ">{{format money}}</div>

                <div class="py-[15px] lg:py-[25px] pl-[10px] lg:pl-[30px]">Phí giao dịch</div>
                <div class="py-[15px] lg:py-[25px] pl-[10px] lg:pl-[100px] lg:col-span-2 ">{{format fee}}</div>

                {{{message}}}

                
            </div>
        </div>

        <a href="/" class="items-center">
            <button type="button"
                class="ml-[10px] lg:ml-[30px] my-[15px] inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-[8px] lg:text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">←
                Quay lại</button>
        </a>
        

    </div>
</div>

